@import 'components/footer.scss';
@import 'components/header.scss';
@import 'components/mixin.scss';
@import 'components/profile.scss';
@import 'components/password.scss';
@import 'components/detail-document.scss';
@import 'components/document-item.scss';

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.input-error {
    border: 2px solid red !important;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #2A383A;
}
img{
    object-fit: cover;
}
.helper{
    color: red;
}
.flex-center-left {
    @include flex(center, flex-start);
}
.flex-center-right {
    @include flex(center, flex-end);
}
.flex-center {
    @include flex(center, center);
}
.flex-center-between {
    @include flex(center, space-between);
}
.flex-center-around {
    @include flex(center, space-around);
}
.flex-center-evenly {
    @include flex(center, space-evenly);
}
.flex-center-end{
    @include flex(flex-end,space-between);
}
.flex-stretch-between{
    @include flex(stretch,space-between);
}
.flex-column{
    @include flex-column(normal,normal);
}
.flex-column-between{
    @include flex-column(normal,space-between);
}
.d-flex{
    display: flex !important;
}
.padding-0{
    @include padding(0) ;
}
.m-0{
    margin: 0;
}

ul,
li {
    list-style-type: none;
}

.d-block{
    display: block !important;
}
.d-none{
    display: none !important;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.position-fixed{
    position: fixed;
}
.position-sticky{
    position: sticky;
}
.text-center{
    text-align: center;
}
.text-white{
    color: white !important;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}

.mx-auto{
    margin: 0 auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.text-orange{
    color: orange;
}
.bg-orange{
    background: orange;
}
// Body

.col-2-5{
    flex: 0 0 auto;
    width: 20%;
}


.header-categories{
    cursor: default;
}
.header-search{
    background-color: #fff;
    height: 33px;
    border-radius: 5px;
    padding: 0 10px;
}
.header-search input{
    outline: none;
}
.header-logo{
    margin: 0 auto;
}
.header-action a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding-left: 16px;
}
/* ----------------------------content------------- */
.main{
    margin-top: -43px ;
    &-bg{
        div{
            height: 900px;
            background-size: cover !important;
            background-repeat: no-repeat;
            opacity: 0.7 !important;
        }
    }
    &-slide-nav{
        margin-top: 100px;
        height: max-content;
    }
    &-slogan_bg{
        transform: translateY(-50px);
        height: 120px;
        background-size: cover !important;
        overflow: hidden;
        h1{
            white-space: nowrap;
            animation: marquee-slogan_bg 10s linear infinite;
        }
    }

    .docs-item{
        height: 325px;
        &__bottom{
            height: 175px;
        }
        canvas{
            width: 100% !important;
            height: 170px !important;
        }
    }
    &-docs{
        &__slide{
            margin-bottom: 60px;
        }
    }
}

@keyframes marquee-slogan_bg {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(-150%);
    }
}

.upload{
    max-width: 700px;
}
.content{
    padding: 70px 0;
}
.content-url{
    padding-top:20px;
}
.content-url a{
    color: #2a70b8;
    text-decoration: none;
    font-size: 16px;
}
.content-url a:hover{
    text-decoration: underline;
}
.lib-sidebar{
    background-color: #fff;

}
.lib-header{
    background: #2a70b8;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin: 0 0 16px 0;
    padding: 14px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.lib-sidebar-list{
    padding: 0;
    border: 1px solid #b5b5b5;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.lib-sidebar-item{
    list-style: none;
    padding: 4px 10px 4px 40px;
}
.lib-sidebar-item a{
    text-decoration: none;
    color:#5c5c5c;
    font-size: 14px;
}
.lib-sidebar-item i{
    font-size: 12px;
}
.lib-sidebar-item:hover{
    background-color: #2a70b8;
}
.lib-sidebar-item:hover a{
    color: #fff;
}
.lib-sidebar-item:hover i{
    color: #fff;
}
.lib-sidebar-item:hover .lib-sidebar-sublist {
    display: block;
}
.lib-sidebar-item-main{
    background-color: #e0e0e0;
    list-style: none;
    padding: 4px 10px 4px 40px;
}
.lib-sidebar-item-main a{
    color: #5c5c5c;
    text-decoration: none;
    cursor: default;
}
.lib-sidebar-sublist{
    list-style: none;
    padding: 0;
    display: none;
    transform-origin: top left;
    transition: 0.2s linear;
    z-index: 1000;
}
.lib-sidebar-subitem{
    background-color: #2a70b8;
    width: 260px;
    padding: 4px 10px 4px 40px;
}
.lib-sidebar-subitem a{
    color: #fff;
    text-decoration: none;

}
.lib-sidebar-subitem i{
    color: #fff;
    font-size: 16px;
}
.lib-sidebar-subitem:hover{
    background-color: #599de4;
}
.keywords-lists{
    border: 1px solid #b5b5b5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.keywords-item{
    background-color: #e0e0e0;
    border-radius: 8px;
    padding: 4px;
}
.keywords-item:hover{
    background-color: #7aafe8;
}
.keywords-item a{
    color: #5c5c5c;
    text-decoration: none;
}
.keywords-item:hover a{
    color: #fff;
}
.content-product{
    position: relative;
}
.btn-right{
    top: 45%;
    right: 0;
    width: 16px;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    outline: none;
    background: transparent;
    color: #bababa;
    font-size: 25px;
    border: none;
}
.btn-left{
    top: 45%;
    left: -3%;
    width: 16px;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    outline: none;
    background: transparent;
    color: #bababa;
    font-size: 25px;
    border: none;
}
.content-titel{
    border-bottom: 1px solid #ececec;
}
.content-titel h4{
    color: rgb(102, 102, 102);
    text-transform: uppercase;
    font-size: 18px;
}
.content-titel a{
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    color: rgb(102, 102, 102);
    font-size: 16px;
}
.content-product-item{
    border: 1px solid #ececec;
    border-radius: 4px;
    height: 277px;
}
.content-product-item:hover .action-click{
    opacity: 1;
}
.content-product-item-titel{
    background-color: #fff;
    padding: 20px 10px 0 15px;
    border-bottom: 1px solid #e1e1e1;
    height: 151px;
}
.content-product-item-titel h4{
    text-transform: uppercase;
    color: #599de4;
    font-size: 19px;
    cursor: pointer;
}
.content-product-item-titel h4:hover{
    color: #2a70b8;
}
.subject{
    font-size: 16px;
    margin-top: 20px;
    padding: 0 0 18px 18px;

}

.statistical{
    padding: 10px 25px 15px 25px;
    background-color: #fff;
}
.view{

}
.download{

}
.author{
    background: #ececec;
    padding: 20px 25px 20px 25px;
    position: relative;
    min-height: 75px;
}
.action-click{
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    background-color: rgba(42,112,184,0.95);
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    transition: all 0.5s linear;
    opacity: 0;
}
.action-read-download{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.action-read-download-btn{
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.action-read-download-btn a{
    text-decoration: none;
    color: #fff;
}

/* -------------------------------footer------------ */
.footer{
    background: url('https://hocmai.vn/theme/new2/images/bg-footer.png') repeat-x;
    border-top: 1px solid #d8d8d8;
}
.footer-item{

}
.footer-item h4{
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 10px;
    padding-left: 5px;
    text-transform: uppercase;
}
.footer-item-list-info{
    list-style: none;
    padding: 0;
}
.footer-item-list-info{
    padding:0 5px ;
}
.footer-item-list-info a{
    color: #959595;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
}
.footer-item-list-info a:hover{
    color: #599de4;
}
.app-download{
    width: 55%;
    padding: 5px 0;
}
.footer-adress{
    padding: 20px 0;
    border-top: 1px solid #d8d8d8;
}
.footer-adress-info{
    color: #666564;
    font-size: 11px;
}
.lib-sidebar-subitem{
    height: 29px !important;
}
.z-index-5{
    z-index: 5;
}
